<div class="tabs">
  <%= link_to("My Bookings", dashboard_renter_path, class: "tab") %>
  <%= link_to("My Bikes", dashboard_owner_path, class: "tab active ") %>
</div>

<div class="dashboard-container">
  <div class="dashboard-content">
    <h2>My Bikes</h2>
      <div class="owner-card-list">
        <% @bikes.each do |bike| %>
          <div class="card-box">
            <div class="owner-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bike.photo, height: 300, width: 400, crop: :fill %>');"> <%= link_to "edit", edit_bike_path(bike) %> <%= link_to "delete", bike_path(bike), method: :delete %>
            </div>
            <div class="owner-card-description">
              <h3><%= bike.name %></h3>
              <p><%= bike.price_per_day/100 %> € per day</p>
            </div>
          </div>
        <% end %>
      </div>
  <h2>My bikes reservations</h2>
      <% @reservations.each do |reservation| %>
        <div class="message">
            <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path reservation.bike.photo, height: 300, width: 400, crop: :fill %>'); height: 120px; width: 150px">
            </div>
            <div class="message-name">
              <h3><%= reservation.bike.name %></h3>
              <p><%= reservation.starts_at %> to <%= reservation.ends_at %></p>
            </div>
            <div class="message-body">
              <p><strong>I am not sure yet!</strong></p>
              <p>
                I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
              </p>
            </div>
            <div class="message-status">
              <p class="status pending"><%= reservation.status? ? "confirmed" : "not confirmed" %></p>
              <p class="price">€345</p>
              <%= link_to("approve", validate_reservation_path(reservation), class: "btn btn-primary") unless reservation.status %>
            </div>
          </div>
      <% end %>
  </div>
</div>
