<div class="tabs">
  <%= link_to("Mes Réservations", dashboard_renter_path, class: "tab") %>
  <%= link_to("Réservations pour mes vélos", dashboard_owner_path, class: "tab active ") %>
</div>

<div class="dashboard-container">
  <div class="dashboard-content">
    <% @reservations.each do |reservation| %>
    <div data-reservation-id="<%= reservation.id %>" class="message">
      <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path reservation.bike.photo, height: 300, width: 400, crop: :fill %>'); height: 120px; width: 150px">
      </div>
      <div class="message-name">
        <h3><%= reservation.bike.name %></h3>
      </div>
      <div class="message-body renter-name">
        <p>Asked by: <strong><%= reservation.user.email %></strong></p>
      </div>
      <div class="message-body">
        <p>Beginning : <strong><%= reservation.starts_at.strftime("%m/%d/%Y")  %></strong></p>
      </div>
      <div class="message-body message-end-date">
        <p>End : <strong><%= reservation.ends_at.strftime("%m/%d/%Y") %></strong></p>
      </div>

      <div class="message-status">
        <p class="price"><%= reservation.price %> €</p>
        <%= link_to("Approuver", validate_reservation_path(reservation), class: "btn btn-primary", remote: true) unless reservation.status %>
        <%= link_to("Décliner", decline_reservation_path(reservation), class: "btn btn-primary", remote: true) unless reservation.status %>
        <p class="status pending"><%= reservation.status %></p>
      </div>
    </div>
    <% end %>
    <h2 style="
    margin-top: 30px;
">My Bikes</h2>
    <div class="owner-card-list">
      <% @bikes.each do |bike| %>
      <div class="card-box">
        <div class="owner-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bike.photo, height: 300, width: 400, crop: :fill %>');">
        </div>
        <div class="owner-card-description">
          <h3><%= bike.name %></h3>
          <p><%= bike.price_per_day/100 %> €/Jour</p>
          <%= link_to "edit", edit_bike_path(bike), class: "btn-medium-inside" %>
          <%= link_to "delete", bike_path(bike), method: :delete, class: "btn-medium-inside" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
