<div class="tabs">
  <%= link_to("My Bookings", dashboard_renter_path, class: "tab active") %>
  <%= link_to("My Bikes", dashboard_owner_path, class: "tab ") %>
</div>

<div class="dashboard-container">
  <div class="dashboard-content">
<h2>My Bookings</h2>


<ul>
<% @reservations.each do |reservation| %>
<li>
  <%= reservation.bike.name %>, from <%= reservation.starts_at %> to <%= reservation.ends_at %>. Status : <%= reservation.status? ? "confirmed" : "not confirmed" %>
</li>
<% end %>
</ul>
</div>
</div>

