<div class="navbar-wagon navbar-fixed-top">
  <div></div>
  <div class="navbar-wagon-right">
    <%= link_to "Rent your bike", new_bike_path, class: "btn-medium-inside" %>
    &ensp;
    <%= link_to "Bikes", bikes_path %>
    &ensp;
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Dashboard", dashboard_renter_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    &ensp;&ensp;
    <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

  </div>
</div>
