<div class="results-message">
    <strong> <%= @bikes.length %></strong>  Bikes next to you <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
  </div>

<div class="container-card">
  <div class="row">

  <% @bikes.each do |bike| %>
    <div class="col-xs-12 col-sm-4" style="height:256px">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bike.photo, height: 300, width: 400, crop: :fill %>');"> </div>
      <div class="card-bottom">
        <div class="card-description">
          <h2><%= bike.name %></h2>
          <p><%= bike.price_per_day/100 %> € per day</p>
        </div>
        <%= link_to "", bike_path(bike), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

