<div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1> Bike's information </h1>
      <h3><%= @bike.name %></h3>
        <%= cl_image_tag @bike.photo, height: 300, width: 400, crop: :fill %>
        <%= render 'form_show', bike: @bike %>
        <%= link_to bikes_path do %>
          Back to list
        <% end %>
        <% if policy(@bike).edit? %>
          <%= link_to edit_bike_path do %>
            Edit Ad
          <% end %>
        <% end %>
    </div>
  </div>
</div>
